body {
  font-family: Arial, sans-serif;
  background: #487a45;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #baf9bf;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 350px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  text-align: center;
  color: #333;
}

.input-section {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

#taskinput {
  flex: 1;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
}

#addbtn {
  padding: 10px 15px;
  margin-left: 10px;
  border: none;
  background: #28a745;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

#addbtn:hover {
  background: #218838;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #f0f0f0;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deletebtn {
  background: #dc3545;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.deletebtn:hover {
  background: #c82333;
}
